<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <button class="btn btn-primary d-lg-none" id="menu-toggle">
      <i class="bi bi-list"></i>
    </button>

    <a class="navbar-brand fw-bold ms-2" href="#"> Investment Group </a>

    <div class="ms-auto">
      <span class="text-white me-3">
        Welcome,
        <strong id="loggedUser">User</strong>
      </span>

      <button class="btn btn-light btn-sm" id="logoutBtn">
        <i class="bi bi-box-arrow-right"></i>
        Logout
      </button>
    </div>
  </div>
</nav>
